<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Calc Test Suite">
  <test thread-count="5" name="Calculations Test">
    <classes>
      <class name="com.mydemo.calc.MathCalcTest"/>
    </classes>
  </test> <!-- Calculations Test -->
</suite> <!-- Calc Test Suite -->
